@use "./variables.scss" as *;
@use "themes";

// put your custom CSS here!
a.internal.internal-link {
  color: #52619E !important;
  background: none !important;
  text-decoration: underline !important;
}